url='postgresql://neondb_owner:npg_ofhF9MskIU7B@ep-misty-mud-abs0cw0l-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
port=3306
JWT_SECRET=493adaab52cc7b96ea24f7af3c5c1db2711b0133e7b71150e54c34f9023c8166
JWT_EXPIRES_IN=3600s